{% extends "geonode-mapstore-client/snippets/brand_navbar.html" %}
{% load static %}
{% block extra_style %}
<style>
    #gn-brand-navbar.gn-menu .gn-menu-content-left .gn-menu-list img {
        height: 3.5rem;
        filter: invert();
    }
</style>
{% endblock %}

{% block left_menu %}
  <ul class="gn-menu-list">
      <li>
           <a href="{% block logo_href %}http://www.info-rac.org/en{% endblock %}" target="_blank">
                {% if custom_theme.logo and custom_theme.logo.url %}
                    <img src="{{ custom_theme.logo.url }}">
                {% else %}
                   <img src="{% block logo_src %}{% static 'img/infomapnodelogo.png' %}{% endblock %}">
                {% endif %}
           </a>
      </li>
  </ul>
{% endblock %}

