{% extends "geonode-mapstore-client/snippets/custom_theme.html" %}
{% block content %}
<style>
    :root {
        --gn-main-color: #000000;
        --gn-main-bg: #ffffff;
        --gn-main-border-color: #dddddd;
        --gn-main-variant-color: #000000;
        --gn-main-variant-bg: #f2f0f0;
        --gn-main-hover-color: #000000;
        --gn-main-hover-bg: #eeeeee;
        --gn-placeholder-color: #aaaaaa;
        --gn-placeholder-bg: #dddddd;
        --gn-disabled-color: #aaaaaa;
        --gn-disabled-bg: #dddddd;
        --gn-primary: #85b2fc;
        --gn-info: #6c9ce5;
        --gn-success: #4dd57b;
        --gn-warning: #f0cb5c;
        --gn-danger: #ee8d86;
        --gn-primary-contrast: #000000;
        --gn-info-contrast: #111111;
        --gn-success-contrast: #111111;
        --gn-warning-contrast: #111111;
        --gn-danger-contrast: #111111;
        --gn-link-color: #3965ac;
        --gn-link-hover-color: #78aafc;
        --gn-image-color: #333333;
        --gn-image-bg: #f2f2f2;
        --gn-focus-color: rgba(57, 122, 171, 0.4);
        --gn-footer-color: #ffffff;
        --gn-footer-bg: #333333;
        --gn-footer-link-color: #74aafc;
        --gn-footer-link-hover-color: #b8d4ff;
        --gn-badge-color: #000000;
        --gn-badge-bg: #D5D5D5;
        --gn-loader-color: #000000;
        --gn-loader-fade-color: rgba(0, 0, 0, 0.2);
        --gn-loader-primary-contrast-color: #000000;
        --gn-loader-primary-contrast-fade-color: rgba(0, 0, 0, 0.2);
        --gn-loader-primary-color: #85b2fc;
        --gn-loader-primary-fade-color: rgba(133, 178, 252, 0.2);
        --gn-jumbotron-color: #ffffff;
        --gn-jumbotron-bg: #2f69c1;
        --gn-timeline-selected-bg: rgba(133, 178, 252, 0.05);
        --gn-timeline-histogram-bg: rgba(133, 178, 252, 0.5);
        --gn-timeline-histogram-color: #5393fb;
        --gn-timeline-range-bg: rgba(0, 0, 0, 0.2);
        --gn-timeline-playback-range-bg: rgba(118, 223, 154, 0.2);
        --gn-button-color: #000000;
        --gn-button-bg: #ffffff;
        --gn-button-action-border-color: #dddddd;
        --gn-button-border-color: #ffffff;
        --gn-button-focus-color: #000000;
        --gn-button-focus-bg: #e6e6e6;
        --gn-button-focus-border-color: #e6e6e6;
        --gn-button-hover-color: #1a1a1a;
        --gn-button-hover-bg: #e6e6e6;
        --gn-button-hover-border-color: #e6e6e6;
        --gn-button-active-color: #1a1a1a;
        --gn-button-active-bg: #e6e6e6;
        --gn-button-active-border-color: #e6e6e6;
        --gn-button-active-hover-color: #1a1a1a;
        --gn-button-active-hover-bg: #d4d4d4;
        --gn-button-active-hover-border-color: #d4d4d4;
        --gn-button-disabled-color: #acacac;
        --gn-button-disabled-bg: #fcfcfc;
        --gn-button-disabled-border-color: #fcfcfc;
        --gn-button-badge-color: #000000;
        --gn-button-badge-bg: #ffffff;
        --gn-button-primary-color: #000000;
        --gn-button-primary-bg: #85b2fc;
        --gn-button-primary-border-color: #85b2fc;
        --gn-button-primary-focus-color: #000000;
        --gn-button-primary-focus-bg: #5393fb;
        --gn-button-primary-focus-border-color: #0963f9;
        --gn-button-primary-hover-color: #000000;
        --gn-button-primary-hover-bg: #5393fb;
        --gn-button-primary-hover-border-color: #498cfb;
        --gn-button-primary-active-color: #000000;
        --gn-button-primary-active-bg: #5393fb;
        --gn-button-primary-active-border-color: #498cfb;
        --gn-button-primary-active-hover-color: #000000;
        --gn-button-primary-active-hover-bg: #307dfa;
        --gn-button-primary-active-hover-border-color: #0963f9;
        --gn-button-primary-disabled-color: #000000;
        --gn-button-primary-disabled-bg: #ecf2fb;
        --gn-button-primary-disabled-border-color: #ecf2fb;
        --gn-button-primary-badge-color: #85b2fc;
        --gn-button-primary-badge-bg: #000000;
        --gn-button-info-color: #111111;
        --gn-button-info-bg: #6c9ce5;
        --gn-button-info-border-color: #6c9ce5;
        --gn-button-info-focus-color: #111111;
        --gn-button-info-focus-bg: #417fdd;
        --gn-button-info-focus-border-color: #1f5ab2;
        --gn-button-info-hover-color: #111111;
        --gn-button-info-hover-bg: #417fdd;
        --gn-button-info-hover-border-color: #3879dc;
        --gn-button-info-active-color: #111111;
        --gn-button-info-active-bg: #417fdd;
        --gn-button-info-active-border-color: #3879dc;
        --gn-button-info-active-hover-color: #111111;
        --gn-button-info-active-hover-bg: #266bd5;
        --gn-button-info-active-hover-border-color: #1f5ab2;
        --gn-button-info-disabled-color: #111111;
        --gn-button-info-disabled-bg: #cdd9ea;
        --gn-button-info-disabled-border-color: #cdd9ea;
        --gn-button-info-badge-color: #6c9ce5;
        --gn-button-info-badge-bg: #111111;
        --gn-button-success-color: #111111;
        --gn-button-success-bg: #4dd57b;
        --gn-button-success-border-color: #4dd57b;
        --gn-button-success-focus-color: #111111;
        --gn-button-success-focus-bg: #2ec160;
        --gn-button-success-focus-border-color: #1f8341;
        --gn-button-success-hover-color: #111111;
        --gn-button-success-hover-bg: #2ec160;
        --gn-button-success-hover-border-color: #2cb95c;
        --gn-button-success-active-color: #111111;
        --gn-button-success-active-bg: #2ec160;
        --gn-button-success-active-border-color: #2cb95c;
        --gn-button-success-active-hover-color: #111111;
        --gn-button-success-active-hover-bg: #27a451;
        --gn-button-success-active-hover-border-color: #1f8341;
        --gn-button-success-disabled-color: #111111;
        --gn-button-success-disabled-bg: #b1d7be;
        --gn-button-success-disabled-border-color: #b1d7be;
        --gn-button-success-badge-color: #4dd57b;
        --gn-button-success-badge-bg: #111111;
        --gn-button-warning-color: #111111;
        --gn-button-warning-bg: #f0cb5c;
        --gn-button-warning-border-color: #f0cb5c;
        --gn-button-warning-focus-color: #111111;
        --gn-button-warning-focus-bg: #ecbc2d;
        --gn-button-warning-focus-border-color: #bb9111;
        --gn-button-warning-hover-color: #111111;
        --gn-button-warning-hover-bg: #ecbc2d;
        --gn-button-warning-hover-border-color: #ebb924;
        --gn-button-warning-active-color: #111111;
        --gn-button-warning-active-bg: #ecbc2d;
        --gn-button-warning-active-border-color: #ebb924;
        --gn-button-warning-active-hover-color: #111111;
        --gn-button-warning-active-hover-bg: #e1ae15;
        --gn-button-warning-active-hover-border-color: #bb9111;
        --gn-button-warning-disabled-color: #111111;
        --gn-button-warning-disabled-bg: #ede3c5;
        --gn-button-warning-disabled-border-color: #ede3c5;
        --gn-button-warning-badge-color: #f0cb5c;
        --gn-button-warning-badge-bg: #111111;
        --gn-button-danger-color: #111111;
        --gn-button-danger-bg: #ee8d86;
        --gn-button-danger-border-color: #ee8d86;
        --gn-button-danger-focus-color: #111111;
        --gn-button-danger-focus-bg: #e86359;
        --gn-button-danger-focus-border-color: #d62b1e;
        --gn-button-danger-hover-color: #111111;
        --gn-button-danger-hover-bg: #e86359;
        --gn-button-danger-hover-border-color: #e65a50;
        --gn-button-danger-active-color: #111111;
        --gn-button-danger-active-bg: #e86359;
        --gn-button-danger-active-border-color: #e65a50;
        --gn-button-danger-active-hover-color: #111111;
        --gn-button-danger-active-hover-bg: #e3453a;
        --gn-button-danger-active-hover-border-color: #d62b1e;
        --gn-button-danger-disabled-color: #111111;
        --gn-button-danger-disabled-bg: #f5e6e5;
        --gn-button-danger-disabled-border-color: #f5e6e5;
        --gn-button-danger-badge-color: #ee8d86;
        --gn-button-danger-badge-bg: #111111;
        --gn-button-tray-color: #1a1a1a;
        --gn-button-tray-bg: #ffffff;
        --gn-button-tray-border-color: #8fb8fc;
        --gn-button-tray-focus-color: #1a1a1a;
        --gn-button-tray-focus-bg: #e6e6e6;
        --gn-button-tray-focus-border-color: #3a83fa;
        --gn-button-tray-hover-color: #1a1a1a;
        --gn-button-tray-hover-bg: #e6e6e6;
        --gn-button-tray-hover-border-color: #7bacfc;
        --gn-button-tray-active-color: #1a1a1a;
        --gn-button-tray-active-bg: #e6e6e6;
        --gn-button-tray-active-border-color: #7bacfc;
        --gn-button-tray-active-hover-color: #1a1a1a;
        --gn-button-tray-active-hover-bg: #d4d4d4;
        --gn-button-tray-active-hover-border-color: #3a83fa;
        --gn-button-tray-disabled-color: #1a1a1a;
        --gn-button-tray-disabled-bg: #ffffff;
        --gn-button-tray-disabled-border-color: #ffffff;
        --gn-button-tray-badge-color: #ffffff;
        --gn-button-tray-badge-bg: #1a1a1a;
    }
</style>
{% endblock %}