{% load i18n %}
<footer class="gn-footer">
    <ul>
        <li>
            <a href="/guideline/" class="nav-link">
                <span>{% trans 'Guideline' %}</span>
            </a>
        </li>
        <li>
            <a href="/about/" class="nav-link">
                <span>{% trans 'About InfoMapNode' %}</span>
            </a>
        </li>
        <li>
            <a href="/policy/" class="nav-link">
                <span>{% trans 'InfoMapNode policy' %}</span>
            </a>
        </li>
        <li>
            <a href="/catalogue/#/search/filter/?f=map" class="nav-link">
                <span>{% trans 'Explore Maps' %}</span>
            </a>
        </li>
    </ul>
</footer>
